<div class="log_in_form">
  <div class="close_log_in">
    <%= button_tag "x" %>
  </div>
  <%= form_tag sessions_path, :method => :post do %>

  <div class="email_field">
    <h3><%= label_tag :email %></h3>
    <%= text_field_tag :email %>
  </div>
  <div class="password_field">
    <h3><%= label_tag :password %></h3>
    <%= password_field_tag :password %>
  </div>
    <h3><%= submit_tag "Login" %></h3>
  <% end %>
</div>
