<h1>Session#new</h1>

<div class="Log_in_form">
  <%= form_tag sessions_path, :method => :post do %>
  <%  if @user.errors.any? %>
      <%= flash.now[:notice] = "Please check all the fields !" %>
      <h3> Errors: </h3>
      <ul>
          <%  @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end  %>
      </ul>
  <% end %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= submit_tag "Login" %>
  </div>
  <% end %>
</div>
