<h1>Edit <%= @task.details %> </h1>

<div class="Task_form">

  <%= form_for ([@hunt,@task]) do |t| %>
  <div class="error_css">
      <%  if @task.errors.any? %>
          <h2> Errors ! </h2>

          <ul>
              <%  @task.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end  %>
          </ul>
      <% end %>
  </div>

      <div class="field">
        <h3><%= t.label :details %></h3>
        <%= t.text_field :details %>
      </div>

      <div class="field">
        <h3><%= t.label :address %></h3>
        <%= t.text_field :address %>
      </div>

      <div class="field">
        <h3><%= t.label :neighbourhood %></h3>
        <%= t.text_field :neighbourhood %>
      </div>


      <div class="field">
        <h3><%= t.submit %></h3>
      </div>

    <% end %>

  </div>
