
<h1>Create a task</h1>

<div class="Task_form">

  <%= form_for([@hunt, @task]) do |f| %>
  <%  if @task.errors.any? %>
      <%= flash.now[:notice] = "Please check all the fields !" %>
      <h3> Errors: </h3>
      <ul>
          <%  @task.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end  %>
      </ul>
  <% end %>

      <div class="field">
        <h3><%= f.label :details %></h3>
        <%= f.text_field :details %>
      </div>

      <div class="field">
        <h3><%= f.label :address %></h3>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <h3><%= f.label :neighbourhood %></h3>
        <%= f.text_field :neighbourhood %>
      </div>

      <h3><%= f.submit 'add task' %></h3>

    <% end %>
    <%= link_to "No more tasks", hunt_path(@hunt) %>




</div>
