
<h1>Create a task</h1>

<div class="Task_form">

  <%= form_for([@hunt, @task]) do |f| %>

  <div class="error_css">
      <%  if @task.errors.any? %>
          <h2> Errors ! </h2>

          <ul>
              <%  @task.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end  %>
          </ul>
      <% end %>
  </div>
      <div class="field">
        <h3><%= f.label :details %></h3>
        <%= f.text_field :details %>
      </div>

      <div class="field">
        <h3><%= f.label :address %></h3>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <h3><%= f.label :neighbourhood %></h3>
        <%= f.text_field :neighbourhood %>
      </div>

      <h3><%= f.submit 'add task' %></h3>

    <% end %>
    <%= link_to "No more tasks", hunt_path(@hunt) %>
</div>
