


<div class="Task_form">

  <%= form_for([@hunt, @task]) do |t| %>
      <div class="field">
        <%= t.label :details %>
        <%= t.text_field :details %>
      </div>

      <div class="field">
        <%= t.label :address %>
        <%= t.text_field :address %>
      </div>

      <div class="field">
        <%= t.label :neighbourhood %>
        <%= t.text_field :neighbourhood %>
      </div>


      <div class="field">
          <%= t.submit %>
      </div>

    <% end %>
    <%= link_to "No more tasks", hunt_path(@hunt) %>




</div>
