<h1><%= @task.details %></h1>

  <div class="task_info">
    <h2>Location:</h2>
    <p id="address"><%= @task.address %></p>
  </div>

<p><%= link_to 'Back to hunt', hunt_path(@task.hunt) %><p/>

<% if current_user && @task.completed_by_user?(current_user) == true %>
  <div class="completed_task">
    <h2> Task completed !</h2>
    <% proof_text = current_user.completed_tasks.find_by(task_id: @task.id)%>
    <p> Proof: <%= proof_text.proof %></p>
    <% proof_image = current_user.completed_tasks.find_by(task_id: @task.id) %>
    <% if proof_image.image != nil %>
    <%= image_tag proof_image.image %>
    <% end %>
  </div>

<% else %>
  <% if @task.hunt.users.include?(current_user) %>
    <div class = "Completed_task_form">
      <h3>Did you complete this task ?</h3>
      <%= render partial: "completed_tasks/form", locals: { hunt: @hunt, task: @task, completed_task: @completed_task } %>
    </div>
  <% end %>
<% end %>


<br>
<br >

<div id="mapid">
</div>
