<h1>Edit your profile</h1>

<%= form_for @user do |f| %>

<%  if @user.errors.any? %>
    <%= flash.now[:notice] = "Please check all the fields !" %>
    <h3> Errors: </h3>
    <ul>
        <%  @user.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end  %>
    </ul>
<% end %>

  <div class="field">
    <h3><%= f.label :first_name %></h3>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <h3><%= f.label :last_name %></h3>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <h3><%= f.submit %></h3>
  </div>
<% end %>
