<h1>User#new</h1>



<div class="sign_up_form">
  <%= form_for @user do |f| %>
  <%  if @user.errors.any? %>
      <%= flash.now[:notice] = "Please check all the fields !" %>
      <h3> Errors: </h3>
      <ul>
          <%  @user.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end  %>
      </ul>
  <% end %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
</div>
