<div class="user_info" id="user_info">
  <h1><%= @user.full_name %></h1>

  <% if @user.public == false && current_user != @user %>
      <p> this profile is private! </p>
  <% else %>
    <h2><%= @user.email %></h2>
    <h2>Completed Tasks: <%= @user.completed_tasks.length %></h2>

  <% if current_user == @user %>
      <%= form_for(@user, url: users_profile_path, :class => "security") do |f| %>
        <% if @user.public == true %>
          <%= f.hidden_field :public, :value => false %>
            <%= f.submit "Set to private", :class => 'set_public' %>
          </div>
        <% else %>
          <%= f.hidden_field :public, :value => true %>
            <%= f.submit "Set to public", :class => 'set_private' %>
        <% end %>
      <% end %>
      </div>
    <% end %>

    <div class="edit_profile">
      <% if current_user && current_user[:id] == @user.id %>
        <%= link_to 'Edit profile', edit_user_path%>
        <%= link_to 'Delete profile', user_path(@user) ,method: :delete, data: {confirm: "Are you sure you want to delete this profile This cannot be undone!"} %>
      <% end %>
    </div>
</div>

  <%if @user.hunts.future_hunts.length > 0 %>
  <h2>Future Hunts created:</h2>
    <% @user.hunts.future_hunts.each do |hunt| %>
        <div class="hunt">
          <li> <%=link_to("#{hunt.name}", hunt_path(hunt))%> </li>
          <p> Date: <%= hunt.hunt_date.strftime("%A %b %d %Y") %> | In <%= ((hunt.hunt_date - DateTime.now)/1.day).round(0) %> days time </p>
          <p> Participants: <%= hunt.participations.length %> </p>
          <p> Available spots: <%= hunt.available_spots %> </p>
        </div>
    <% end  %>
  <% end  %>

  <%if @user.hunts.past_hunts.length > 0%>
    <h2>Past Hunts created:</h2>
    <% @user.hunts.past_hunts.each do |hunt| %>
        <div class="hunt">
          <li> <%=link_to("#{hunt.name}", hunt_path(hunt))%> </li>
          <p> Date: <%= hunt.hunt_date.strftime("%A %b %d %Y") %> </p>
          <p> Participants: <%= hunt.participations.length %> </p>
        </div>
    <% end  %>
  <% end  %>
<div class="participations">
  <div class="participations_future">
    <%if @user.participated_hunts.future_hunts.length > 0%>
      <h2>Participations in future Hunts:</h2>
      <% @user.participated_hunts.future_hunts.each do |hunt| %>
        <div class="hunt_joined">
          <p> <%= link_to("#{hunt.name}", hunt_path(hunt))%> </p>
          <p>Date: <%= hunt.hunt_date.strftime("%A %b %d %Y")%> | In <%= ((hunt.hunt_date - DateTime.now)/1.day).round(0) %> days time </p>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="participations_past">
    <%if @user.participated_hunts.past_hunts.length > 0%>
      <h2>Participations in past Hunts:</h2>
      <% @user.participated_hunts.past_hunts.each do |hunt| %>
        <div class="hunt_joined">
          <p> <%= link_to("#{hunt.name}", hunt_path(hunt))  %> </p>
          <p> Date: <%= hunt.hunt_date.strftime("%A %b %d %Y") %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="tasks_completed">
    <h2>Tasks completed:</h2>
    <% @completed_tasks.each do |task| %>
      <div class="completed_task">
        <p> <%= link_to "#{task.task.details}", "/hunts/#{task.task.hunt_id}/tasks/#{task.task.id}" %> </p>
        <% if task.proof  %>
          <p>Proof : <%= task.proof %></p>
        <% end  %>
        <div class="image_proof">
        <% if task.image.attached? %>
          <%= image_tag(task.image) %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>



<% end %>
