<h1><%= @user.full_name %></h1>
<h2><%= @user.email %></h2>

<h2>Hunts created:</h2>
<% @user.hunts.each do |hunt| %>
  <div class="hunt">
    <p> <%= hunt.name %> </p>
    <p> Date: <%= hunt.date_time.strftime("%A %b %d %Y") %> </p>
    <p> Participants: <%= hunt.participations.length %> </p>
  </div>
<% end  %>

<h2>Participations:</h2>
<% @user.participations.each do |participation| %>
<div class="hunt_joined">
<p> <%= participation.hunt.name %> </p>
Date: <%= participation.hunt.date_time.strftime("%A %b %d %Y") %>
</div>
<hr>
<% end %>

<% if current_user[:id] == @user.id %>
  <%= link_to 'Edit your profile', edit_user_path%> |
  <%= link_to 'Delete your profile', user_path(@user) ,method: :delete, data: {confirm: "Are you sure you want to delete this profile This cannot be undone!"} %>
<% end %>
