<%= form_for (hunt) do |f| %>


<div class="error_css">
    <%  if @hunt.errors.any? %>
        <h2> Errors ! </h2>

        <ul>
            <%  @hunt.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
            <% end  %>
        </ul>
    <% end %>
</div>

<h3> <%= f.label :name %> </h3>
  <%= f.text_field :name %>

  <p><fieldset><legend>Difficulty_level</legend>
    <%= radio_button_tag(:difficulty_level, "1") %>
    <%= label_tag(:difficulty_level, "Easy") %>
    <%= radio_button_tag(:difficulty_level, "2") %>
    <%= label_tag(:difficulty_level, "Average") %>
    <%= radio_button_tag(:difficulty_level, "3") %>
    <%= label_tag(:difficulty_level, "Hard") %>
  </p></fieldset>

  <p><fieldset><legend>Category</legend>

    <% categories.each do |category| %>
      <%= radio_button_tag(:category_id, "#{category.id}") %>
      <%= label_tag(:category_id, "#{category.name}") %>
    <% end %>
  </p></fieldset>

<h3>  <%= f.label :hunt_date %></h3>
      <%= f.date_field :hunt_date, min: Date.tomorrow %>

<h3>  <%= f.label :hunt_time %></h3>
      <%= f.time_field :hunt_time, step: 1800%>

<h3>  <%= f.label(:max_participants)%></h3>
      <%= f.number_field :max_participants, value: 20, min: 1, max: 20 %>

<h3> <%= f.submit "ADD"%></h3>
<%end %>
