<h1>Edit <span><%=@hunt.name%><span></h1>
  <div class="links_nav">
    <%=  link_to("Back to Hunt view", hunt_path(@hunt)) %>
    <%=  link_to('Back to Hunts', hunts_path) %>
  </div>




<div class="error_css">
    <%  if @hunt.errors.any? %>
        <h2> Errors ! </h2>

        <ul>
            <%  @hunt.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
            <% end  %>
        </ul>
    <% end %>
</div>





<%= render 'hunts/form_new_hunt', hunt: @hunt, category: @category, categories: @categories %>


<%= link_to('Delete Hunt', hunt_path(@hunt), method: :delete, data: {confirm: "Are you sure you want to delete this hunt?"}) %>
