

<h1 class="all-hunts">CACCE A VENIRE</h1>

<hr>
<div class="block">

    <% @categories.each do |category|%>
      <div class="categories_hunts">
        <h2><span><%= link_to(category.name, category_path(category))%></span></h2>
      <% category.hunts.each do |hunt|%>
        <div class = "index_hunt">
            <h3><%=link_to("#{hunt.name}", hunt_path(hunt))%></h3>
            <h3>Creata da: <span><%=link_to("#{hunt.user.full_name}", user_path(hunt))%></span></h3>
            <h3>Data: <span><%=hunt.hunt_date.strftime("%v")%></span></h3>
            <h3>Orario: <span><%=hunt.hunt_time.strftime("%H:%M")%></span></h3>
            <h3>Difficolta:
              <span><%hunt.difficulty_level.times do %>
                        <%= image_tag 'raccoon-logo-png.png', :class => "logo_img_diff", :width => "30", :length => "30" %>
                    <%end%>
              </span>
            </h3>
            <h3>Prove: <span><%=hunt.tasks.count%></h3>
            <h3>Posti disponibili: <span><%=hunt.available_spots%></span></h3>
        </div>
      <%end%>
      </div>
    <%end%>
</div>
