

<h1 class="text-center">ALL FUTURE HUNTS</h1>

<hr>
<div class="block">

    <% @categories.each do |category|%>
      <div class="categories_hunts">
        <h2><%=category.name%></h2>
        <hr>
      <% category.hunts.each do |hunt|%>
      <ul>
            <br>
            <li>
            <h3><%=link_to("#{hunt.name}", hunt_path(hunt))%></h3>
            <h3>Created by: <%=hunt.user.first_name%> <%=hunt.user.last_name%></h3>
            <h3>Date: <%=hunt.hunt_date.strftime("%v")%></h3>
            <h3>Time: <%=hunt.hunt_time.strftime("%H:%M")%></h3>
            <h3>Difficulty: <%=hunt.difflevel_int_to_text%></h3>
            <h3>Available spots: <%=hunt.max_participants - hunt.users.count%></h3>
          </li>
          <br>
      </ul>
        <%end%>
        </div>
    <%end%>
</div>
