<h3><%= link_to('Back to Welcome', root_path) %></h3>
<li><%= link_to('Make a hunt', hunts_new_path) %></li>

<h1 class="text-center">ALL FUTURE HUNTS</h1>

<hr>
<div class="block">

    <% @categories.each do |category|%>
      <div class="categories_hunts">
        <h2><%=category.name%></h2>
        <hr>
      <% category.hunts.each do |hunt|%>
      <ul>
            <br>
            <li>
            <h3><%=link_to("#{hunt.name}", "/categories/#{category.id}/hunts/#{hunt.id}")%></h3>
            <h3>Created by: <%=hunt.user.first_name%> <%=hunt.user.last_name%></h3>
            <h3>Date: <%=hunt.hunt_date.strftime("%v")%></h3>
            <h3>Time: <%=hunt.hunt_time.strftime("%H:%M")%></h3>
            <h3>Difficulty: <%=hunt.difficulty_level%></h3>
          </li>
          <br>
      </ul>
        <%end%>
        </div>
    <%end%>
</div>
