<h1>Hunt: <%= @Hunt.name %></h1>

<h2><%= link_to('Back to index', projects_path) %></h2>
<hr>

<% if @hunt.image.present? %>
  <%= image_tag @hunt.image %>
<% end %>

  <li><%= link_to('Back to hunts', hunts_path) %></li>
  <br>
  <% if session[:user_id] && @hunt.user && session[:user_id] == @hunt.user.id %>
    <li><%= link_to 'Edit Hunt', edit_hunt_path(@hunt) %></li>
    <br>
  <% end %>

  <% if current_user %>
    <li><%= link_to('Make a hunt', new_hunt_path(@hunt)) %></li>
  <% end %>

<hr>
<div>
  <p> Category: <%= @hunt.category %></p>
  <p> Difficulty: <%= @hunt.difficulty_level %></p>
  <p>Created by: <%=hunt.user.first_name%> <%=hunt.user.last_name%></p>
  <p>Date: <%=hunt.date_time%></p>
</div>

<% end %>
