
<h3><%= link_to('Back to Hunts', hunts_path) %></h3>

<h1><%= @hunt.name %></h1>

<div class = "hunt">
<% if current_user %>
    <div class="join_hunt">
      <%= link_to('Join Hunt', hunt_join_path, method: :post, data: {confirm: "Are you sure you want to join this hunt?"}) %>
    </div>
      <% if current_user == @hunt.user %>
      <div class="edit_hunt_button">
        <%= link_to('Edit Hunt', edit_hunt_path) %>
      </div>
      <% end %>

<% end %>


  <p> Category: <%= @hunt.category.name %></p>
  <p> Difficulty: <%= @hunt.difflevel_int_to_text %></p>
  <p>Created by: <%= link_to "#{@hunt.user.full_name}", user_path(@hunt.user) %></p>
  <p>Date of hunt: <%=@hunt.hunt_date.strftime("%v")%></p>
  <p>Time of hunt: <%=@hunt.hunt_time.strftime("%H:%M")%></p>
  <p>Available spots: <%=@hunt.available_spots%></p>
  <p>Participants to the hunt:</p>
  <% @hunt.users.each do |participant| %>
    <div class="hunt_participants">
      <li><%= link_to "#{participant.full_name}", user_path(participant) %>
        <%if current_user %>
          <%if participant.id == current_user.id %>
            | <%= link_to('Leave this hunt', hunt_unjoin_path, method: :post, data: {confirm: "Are you sure you want to leave this hunt?"})%>
          <% end %>
        <% else %>
          <% flash.now[:warning] = "You can see the hunt but not edit or join it!"%>
        <% end %></li>
    </div>
  <% end %>
</div>



<h2>Tasks :</h2>
  <div class="tasks">
  <% if current_user == @hunt.user %>
      <h2> <%= link_to 'Add New Task', new_hunt_task_path(@hunt) %></h2>
  <% end %>

     <% @tasks.each do |t| %>
        <div class = "task"  >
          <p> Details: <%= link_to "#{t.details}", "/hunts/#{@hunt.id}/tasks/#{t.id}" %></p>
          <p> Address: <span class = "taskaddress"> <%= t.address  %></span></p>
          <p> Neighbourhood: <%= t.neighbourhood %> </p>
          <% if current_user == @hunt.user %>
          <li> <%= link_to 'Edit Task', "/hunts/#{@hunt.id}/tasks/#{t.id}/edit" %> </li>
          <li><%= link_to 'Delete Task', "/hunts/#{@hunt.id}/tasks/#{t.id}", method: :delete %></li>
          <% end %>
        </div>
     <% end  %>
  </div>



<div id = "mapid_all">
</div>


<%= render(partial: 'comments/form', locals: { hunt: @hunt, comment: @comment }) %>

<% @comments.each do |comment| %>
  <p>posted by:  <%= comment.user.first_name %>   on   <%= comment.created_at.strftime("%B %d, %Y") %> <%= comment.created_at.strftime("%I:%M %p ") %></p>
  <p><%= comment.description %></p>
<% end %>
