
<h3><%= link_to('Back to Welcome', root_path) %></h3>
<h3><%= link_to('Back to Hunts', hunts_path) %></h3>

<h1>Hunt: <%= @hunt.name %></h1>

  <br>

    <li><%= link_to 'Edit Hunt', edit_hunt_path %></li>

<hr>
<div>
  <p> Category: <%= @hunt.category.name %></p>
  <p> Difficulty: <%= @hunt.difficulty_level %></p>
  <p>Created by: <%=@hunt.user.first_name%> <%=@hunt.user.last_name%></p>
  <p>Date of hunt: <%=@hunt.hunt_date.strftime("%v")%></p>
  <p>Time of hunt: <%=@hunt.hunt_time.strftime("%H:%M")%></p>
</div>


<%= render(partial: 'comments/form', locals: { hunt: @hunt, comment: @comment }) %>

<% @comments.each do |comment| %>
  <p>posted by:  <%= comment.user.first_name %>   on   <%= comment.created_at.strftime("%B %d, %Y") %> <%= comment.created_at.strftime("%I:%M %p ") %></p>
  <p><%= comment.description %></p>
<% end %>
