<h3><span class = "hunts_link_back">&#8678; <%= link_to('Back to Hunts', hunts_path) %></span></h3>


<h1 class = "hunt_name"><%= @hunt.name %></h1>

<div class = "hunt">
<% if current_user && @hunt.users.include?(current_user) == false %>
    <div class="join_hunt">
      <%= link_to('Join Hunt', hunt_join_path, method: :post, data: {confirm: "Are you sure you want to join this hunt?"}) %>
    </div>
<% end %>

<% if current_user == @hunt.user %>
<div class="edit_hunt_button">
  <%= link_to('Edit Hunt', edit_hunt_path) %>
</div>
<% end %>

<div class = "index_hunt_show">
  <h3>Category: <span><%= link_to("#{@hunt.category.name}", category_path(@hunt.category)) %></span></h3>
  <h3>Created by: <span><%= link_to "#{@hunt.user.full_name}", user_path(@hunt.user) %></span></h3>
  <h3>Date of hunt: <span><%=@hunt.hunt_date.strftime("%v")%></span></h3>
  <h3>Time of hunt: <span><%=@hunt.hunt_time.strftime("%H:%M")%></span></h3>
  <h3>Difficulty:
    <span><%@hunt.difficulty_level.times do %>
              <%= image_tag 'raccoon-logo-png.png', :class => "logo_img_diff", :width => "30", :length => "30" %>
          <%end%>
    </span>
  </h3>
  <h3>Tasks: <span><%=@hunt.tasks.count%></h3>
  <h3>Available spots: <span><%=@hunt.available_spots%></span></h3>
</div>

  <h3>Participants to the hunt:</h3>
  <% @hunt.users.each do |participant| %>
    <div class="hunt_participants">
      <li><%= link_to "#{participant.full_name}", user_path(participant) %>
        <%if current_user %>
          <%if participant.id == current_user.id %>
            | <span><%= link_to('Leave this hunt', hunt_unjoin_path, method: :post, data: {confirm: "Are you sure you want to leave this hunt?"})%></span>
          <% end %>
        <% else %>
          <% flash.now[:warning] = "Please log in if you want to join it!"%>
        <% end %></li>
    </div>
  <% end %>
</div>



<h2>Tasks :</h2>
  <% if current_user == @hunt.user %>
      <div class="add_new_task">
        <%= link_to 'Add New Task', new_hunt_task_path(@hunt) %></h2>
      </div>
  <% end %>
  <div class="tasks">
     <% @tasks.each do |t| %>
        <div class = "task"  >
          <p> Details: <%= link_to "#{t.details}", "/hunts/#{@hunt.id}/tasks/#{t.id}" %></p>
          <p> Address: <span class = "taskaddress"> <%= t.address  %></span></p>
          <p> Neighbourhood: <%= t.neighbourhood %> </p>
          <% if current_user == @hunt.user %>
          <div class="edit_task">
            <li><%= link_to 'Edit Task', "/hunts/#{@hunt.id}/tasks/#{t.id}/edit" %> </li> |
            <li><%= link_to 'Delete Task', "/hunts/#{@hunt.id}/tasks/#{t.id}", method: :delete %></li>
          </div>
          <% end %>
        </div>
     <% end  %>
  </div>



<div id = "mapid_all">
</div>


<%= render(partial: 'comments/form', locals: { hunt: @hunt, comment: @comment }) %>

<% @comments.each do |comment| %>
  <p>posted by:  <%= comment.user.first_name %>   on   <%= comment.created_at.strftime("%B %d, %Y") %> <%= comment.created_at.strftime("%I:%M %p ") %></p>
  <p><%= comment.description %></p>
<% end %>
