<h1 class="text-center">ALL FUTURE HUNTS</h1>

<hr>
<div class="block">

    <% @categories.each do |category|%>
      <div class="categories_hunts">
        <h2><%=category.name%></h2>
        <hr>
      <% category.hunts.each do |hunt|%>
      <ul>
            <br>
            <li>
            <h3><%=link_to("#{hunt.name}","/hunts/#{hunt.id}")%></h3>
            <h3>Created by: <%=hunt.user.first_name%> <%=hunt.user.last_name%></h3>
            <h3>Date: <%=hunt.date_time%></h3>
            <h3>Difficulty: <%=hunt.difficulty_level%></h3>
          </li>
          <br>
      </ul>
        <%end%>
        </div>
    <%end%>

</div>
