<!DOCTYPE html>
<html>
  <head>
    <title>UrbanHunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
       integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
       crossorigin=""/>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin="">
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation_bar">
      <ul class="nav_1">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li>Hello!    <%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
          <li><%= link_to "Sign Out", session_path("purple"), :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li class="log_in"><%= link_to "Log In", new_session_path %></li>
        <% end %>
      </ul>
    </nav>
     <%= render 'sessions/form' %>
    <%= yield %>
  </body>
</html>
