<!DOCTYPE html>
<html>
  <head>
    <title>UrbanHunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
       integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
       crossorigin=""/>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin="">
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="main_to_slide" class ="main_to_slide">
  <body>

    <div class="navigation_bar">

      <div class="nav_1">
        <div class="logo">
          <div class="top_left">
            <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img" width="100" length="100">
          </div>
          <div class="top_center">
            <%= link_to "Urban Hunter", root_path, :class => "logo_text" %>
          </div>
        </div>

        <div class="top_right">
          <ul class="user_options">
            <% if current_user %>
              <div class="logged_in">
                <li><%= link_to "Hello! #{current_user.first_name}", user_path(current_user) %></li>
                <li><%= link_to "Sign Out", session_path("purple"), :method => :delete %></li>
                <li><%= link_to('Make your hunt !', new_hunt_path) %></li>
              </div>
            <% else %>
              <div class="logged_out">
                <li class="sign_in"><%= link_to "Sign Up", new_user_path %></li>
                <li class="log_in"><%= link_to "Log In", new_session_path, :class => "login_button" %></li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="nav_2">
        <div class="open_nav">
          <span class="open_button" onclick="openNav()">☰ Menu</span>
        </div>
        <div class="search_bar">
          <%= form_tag(hunt_search_path, {:id => 'search_form'}) do %>
          <%= text_field_tag :hunt, params[:hunt], :class => "search_field" %><%= submit_tag 'Search Hunts', name: nil, :class => "search_button" %>
        <% end %>
        </div>
        <br>
      </div>

    </div>

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class = "next_5_hunts">
          <h2>Next 5 hunts:</h2>
        </div>
        <div class = "firsthunt">
          <p>
            <% @future_hunts_five = first_five_hunts %>
            <%d = @future_hunts_five[0].hunt_date%>
            <%t = Time.parse(@future_hunts_five[0].hunt_time.to_s)%>
            <%time = Time.now%>
            <%first_future_hunt_time = DateTime.new(d.year, d.month, d.day, t.hour, t.min, t.sec, time.zone)%>
            <input type = "hidden" value = "<%=first_future_hunt_time%>" id = "deadline"/>
            <%=link_to("#{@future_hunts_five[0].name}", hunt_path(@future_hunts_five[0])) %></p>
            <p>hunt starts in:</p>
        </div>

        <div id="clockdiv">
          <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours"></span>
            <div class="smalltext">Hrs</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div class="smalltext">Min</div>
          </div>
          <div>
            <span class="seconds"></span>
            <div class="smalltext">Sec</div>
          </div>
        </div>

        <div class = "first_4">
            <% @future_hunts_five[1..4].each do |hunt| %>
               <p><%=link_to("#{hunt.name}", hunt_path(hunt))%></p>
            <% end %>
        </div>

        <div class = "nav_hrz_divider">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
        </div>

        <div class="all_hunts_homepage">
          <%= link_to("All hunts", hunts_path) %>
        </div>

        <div class = "nav_hrz_divider">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
          <img src="https://mbtskoudsalg.com/images/raccoon-logo-png.png" class="logo_img_mini" width="50" length="50">
        </div>

      <div class = "project-info">
        <p><%= link_to('About this project', about_path) %></p>
        <p><%= link_to('Contact us', contact_us_path) %></p>
        <p><%= link_to('Careers', careers_path) %></p>
      </div>

    </div>

        <main>
          <% flash.each do |key, message| %>
          <div class="flash-<%= key %>"><span class="error_message"><%= message %><span></div>
          <% end %>
           <%= render 'sessions/form' %>
           <%= render 'users/form' %>
          <%= yield %>
        </main>
        <footer>
          <div class="info_nav">
            <ul class="info_list">
              <li>Made by Nicholas, Constantine, Mamun and Kevin ©</li>
              <li><%= link_to('Contact us', contact_us_path) %></li>
              <li><%= link_to('Careers', careers_path) %></li>
              <li>Happy Hunting!</li>
            </ul>
          </div>
        </footer>
  </body>
</div>
</html>
