<!DOCTYPE html>
<html>
  <head>
    <title>UrbanHunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation_bar">
      <ul class="nav_1">
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Log In", new_user_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
