<!DOCTYPE html>
<html>
  <head>
    <title>UrbanHunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation_bar">
      <ul class="nav_1">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li>Hello!    <%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
          <li><%= link_to "Sign Out", session_path("purple"), :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", new_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
